@font-face {
    font-family: Inter;
    src: url("../font/Inter-VariableFont.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --font-head: 'Inter', sans-serif;
    --font-h-s:12px var(--font-head) ;
    --font-h-m : 16px var(--font-head) ;
    --font-h-l : 20px var(--font-head) ;
    --font-h-xl : 24px var(--font-head) ;
    --font-h-xxl: 32px var(--font-head) ;

    --font-body: 'Roboto', sans-serif;
    --font-b-s:12px var(--font-body) ;
    --font-b-m : 16px var(--font-body) ;
    --font-b-l : 20px var(--font-body) ;
    --font-b-xl : 24px var(--font-body) ;
    --font-b-xxl: 32px var(--font-body) ;
}