{% macro div()  -%}
<div class="profile">
    <div class="profile-header">
        <div class="user-image">
            <i class='bx bx-user-circle'></i>
        </div>
        <div class="user-brief">
            <p>Adsan45</p>
            <p>id 98213123</p>
            <p><i class='bx bxs-thermometer'></i> 34</p>
        </div>
    </div>
    <div class="profile-detail">
        <div class="detail-data">
            <div class="detail-title">Full Name</div>
            <div class="fullname">adio ihsan</div>
        </div>
        <div class="detail-data">
            <div class="detail-title">Gender</div>
            <div class="fullname">man</div>
        </div>
        <div class="detail-data">
            <div class="detail-title">DOB</div>
            <div class="dob">12-9-2000</div>
        </div>
        <div class="detail-data">
            <div class="detail-title">Address</div>
            <div class="d">Padang</div>
        </div>
    </div>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}