{%macro nav(active='dashboard') -%} 
    <nav id="side-nav">
        <div class="nav-item active">
            <div class="ni-icon">
                <i class='bx bxs-thermometer'></i>
            </div>
            <div class="ni-text">Measurement</div>
        </div>
        <div class="nav-item">
            <div class="ni-icon">
                <i class='bx bx-history'></i>
            </div>
            <div class="ni-text">History</div>
        </div>
        <div class="nav-item">
            <div class="ni-icon">
                <i class='bx bxs-user-detail'></i>
            </div>
            <div class="ni-text">Manage User</div>
        </div>
        <div class="nav-item">
            <div class="ni-icon">
                <i class='bx bx-cog' ></i>
            </div>
            <div class="ni-text">Setting</div>
        </div>
        <div class="nav-item">
            <div class="ni-icon">
                <i class='bx bx-exit' ></i>
            </div>
            <div class="ni-text">Exit</div>
        </div>
    </nav>
{% endmacro %}
